/*
accent color - #4D5AE5
primary text color -#2E2F42
additional text color - #434455
footer text - #E7E9FC
logo text - #F4F4FD
accent background - #2E2F42
 secondary backkground - #F4F4FD
white - #FFFFFF
secondary button background -#E7E9FC
raleway 800
roboto 600, 400, 500
*/

:root {
  --primary-text-color: #434455;
  --pressed-state: #404bbf;
  --primary-brand: #4d5ae5;
  --add-text-color: #8e8f99;
  --second-background: #e7e9fc;
  --add-background: #e5e5e5;
  --accent-background: #2e2f42;
  --white: #ffffff;
  --logo-text: #f4f4fd;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
}
/*logo */

.logo {
  color: var(--primary-brand);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  text-transform: uppercase;
}
.header-logo {
  color: var(--primary-text-color);
}
.footer-logo {
  color: var(--logo-text);
}

/*navigation */
.nav-link {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--primary-brand);
}
.nav-link:focus {
  color: var(--primary-brand);
}

.nav-link.current {
  color: var(--primary-brand);
  text-decoration: underline;
}

/*links */
.link {
  color: var(--add-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}
.link:hover {
  color: var(--primary-brand);
}
.link:focus {
  color: var(--primary-brand);
}

.list {
  list-style: none;
}

/* web studio */
/* hero-section */
.hero-section {
  background-color: var(--accent-background);
}
.hero-title {
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  text-transform: uppercase;
}
.primary-button {
  background-color: var(--primary-brand);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
}
.primary-button:hover {
  background-color: var(--pressed-state);
}

/* main */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}

.title-text {
  color: var(--primary-text-color);
}
.our-team {
  background-color: var(--logo-text);
}
/*footer */
footer {
  background-color: var(--accent-background);
}
.footer-text {
  color: var(--second-background);
}
/*portfolio */
.secondary-button {
  border: none;
  color: var(--primary-brand);
  background-color: var(--second-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
}
.secondary-button:hover {
  color: var(--white);
  background-color: var(--pressed-state);
}
.secondary-button:focus {
  color: var(--white);
  background-color: var(--pressed-state);
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: var(--add-text-color);
  font-size: 16px;
  line-height: 1.5;
}
